<aside class="l-sidebar col-md-2 l-sidebar--totop">
<div class="l-sidebar__fixed"><a class="btn" href="https://edu.rubius.com/wp-admin/post-new.php"><span style="font-size: 18px; display: inline-block; margin-right: 5px;">+</span> Add new post</a>
<ul class="b-category">
<ul class="b-category">
<li class="cat-item cat-item-10"><a href="https://edu.rubius.com/category/1/">Education</a>
<ul class="children">
<li class="cat-item cat-item-11"><a href="https://edu.rubius.com/category/1/developer/">Developer</a>
<ul class="children">
<li class="cat-item cat-item-25"><a href="https://edu.rubius.com/category/1/developer/c_plusplus/">C++</a></li>
<li class="cat-item cat-item-26"><a href="https://edu.rubius.com/category/1/developer/js/">JS</a></li>
<li class="cat-item cat-item-24"><a href="https://edu.rubius.com/category/1/developer/net/">.Net</a></li>
<li class="cat-item cat-item-27"><a href="https://edu.rubius.com/category/1/developer/sql/">SQL</a></li>
</ul>
</li>
<li class="cat-item cat-item-14"><a href="https://edu.rubius.com/category/1/devops/">DevOps</a></li>
<li class="cat-item cat-item-5"><a href="https://edu.rubius.com/category/1/qualityassurance/">QAs</a></li>
</ul>
</li>
<li class="cat-item cat-item-2"><a href="https://edu.rubius.com/category/2/">Videos</a></li>
<li class="cat-item cat-item-19"><a href="https://edu.rubius.com/category/4/">How To</a></li>
<li class="cat-item cat-item-19"><a href="https://pm.rubius.com/Account/GetRubiusGuide/" target="_blank" rel="noopener">Rubius Guide</a></li>
<li class="cat-item cat-item-19"><a href="https://docs.google.com/spreadsheets/d/1-UgUY2Tyshs6WvU1VqopaJ-NToUvIfsErA1NDkRkcZU/edit?usp=sharing" target="_blank" rel="noopener">Books</a></li>
</ul>
</ul>
<div class="l-sidebar__footer">
<div class="b-copy">&copy; Rubius</div>
<ul class="b-social">
<li class="b-social--vk"><a href="https://vk.com/rubiuscompany" target="_blank" rel="noopener"><i class="fa fa-vk" aria-hidden="true"></i></a></li>
<li class="b-social--fb"><a href="https://www.facebook.com/RubiusCompany" target="_blank" rel="noopener"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
<li class="b-social--yt"><a href="https://www.youtube.com/c/RubiusCompany" target="_blank" rel="noopener"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
</ul>
</div>
</div>
</aside>