<p>wetrwertweert</p>
<p>@*&lt;!--*@</p>
<p>@foreach (var item in Model.Blogs) {</p>
<p>@*--&gt;*@</p>
<p>&nbsp;</p>
<p>&nbsp; &lt;div&gt;@item.text&lt;/div&gt;&nbsp;</p>
<p>@*&lt;!--*@</p>
<p>}&nbsp;</p>
<p>@*--&gt;*@</p>
<p>&nbsp;</p>