@*<!---*@ @{
Layout = "~/Views/Wiki/7.cshtml";
} @*--->*@
<p style="text-align: right;">234234234</p>
<div>@*<!---*@ @for (var i=0; i<10; i++) { @*--->*@
<div>@i</div>
@*<!---*@ } @*--->*@</div>
<p>asdasd</p>
