@*<!---*@ @{
Layout = "~/Views/Wiki/7.cshtml";
} @*--->*@
<p style="text-align: right;">234234234</p>
@*<razor>*@@for (var i=0; i<10; i++) {@*</razor>*@
<div>@i</div>
@*<razor>*@}@*</razor>*@
<p>asdasd</p>
