@*<!---*@ @{
Layout = "~/Views/Wiki/7.cshtml";
} @*--->*@
<razor>asd</razor>
<p style="text-align: right;">234234234</p>
@*<!---*@ @for (var i=0; i<10; i++) {@*--->*@
<div>@i</div>
@*<!---*@ } @*--->*@
<p>asdasd</p>
