@*<razor>*@@{ Layout = "~/Views/Shared/_Layout.cshtml"; }@*</razor>*@
<p>Навигация</p>
<p>Название</p>
<p>Текст</p>
<p>Комментарии</p>
@*<razor>*@@RenderBody()@*</razor>*@@*<razor>*@@Model.Page.Id @{ Html.RenderAction("Comments", "Wiki", new {wikiPageId = Model.Page.Id}); }@*</razor>*@
<p>&nbsp;</p>